:root {
  --bs-success-rgb: 1, 208, 206 !important;
  --bs-gray: #65676a;
  --base-color: #01d0ce;
  --black-2: #00000005;
  --aquamarine: #01d0ce;
  --turquoise: #00b8b6;
  --bs-border-radius: 0.375rem;
  --text-black: #4b5675;
  --text-gold: #ffa500;
}

.text-gold {
  color: var(--text-gold) !important;
}
.text-gray {
  color: var(--bs-gray) !important;
}

@media (min-width: 992px) {
  .app-content {
    padding-top: 0 !important;
  }
}

.ltr, .dir-ltr {
  direction: ltr !important;
}

.rtl, .dir-rtl {
  direction: rtl !important;
}

.form-floating textarea.form-control {
  height: unset;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  background: none !important;
}

.table td:first-child {
  padding-right: .75rem !important;
}

@media (min-width: 1024px) {
  .symbol.symbol-lg-180px > img {
    width: 180px;
    height: 180px;
  }
  .symbol.symbol-lg-180px .symbol-label {
    width: 180px;
    height: 180px;
  }
  .symbol.symbol-lg-180px.symbol-fixed .symbol-label {
    width: 180px;
    height: 180px;
  }
  .symbol.symbol-lg-180px.symbol-fixed > img {
    width: 180px;
    height: 180px;
    max-width: none;
  }
  .symbol.symbol-lg-180px.symbol-2by3 .symbol-label {
    height: 180px;
    width: 270px;
  }
  .symbol.symbol-lg-200px.symbol-2by3 > img {
    height: 180px;
    width: 270px;
    max-width: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .symbol.symbol-md-200px > img {
    width: 200px;
    height: 200px;
  }
  .symbol.symbol-md-200px .symbol-label {
    width: 200px;
    height: 200px;
  }
  .symbol.symbol-md-200px.symbol-fixed .symbol-label {
    width: 200px;
    height: 200px;
  }
  .symbol.symbol-md-200px.symbol-fixed > img {
    width: 200px;
    height: 200px;
    max-width: none;
  }
  .symbol.symbol-md-200px.symbol-2by3 .symbol-label {
    height: 200px;
    width: 300px;
  }
  .symbol.symbol-md-200px.symbol-2by3 > img {
    height: 200px;
    width: 300px;
    max-width: none;
  }
}

.nav-line-tabs .nav-item .nav-link.active, .nav-line-tabs .nav-item.show .nav-link, .nav-line-tabs .nav-item .nav-link:hover:not(.disabled) {
  color: var(--bs-text-primary) !important;
}